@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="https://www.ssk12.com/img/LOGO.png"/>
    <p>Learn about <a href="https://www.ssk12.com">Welcome to SchoolStream.</a>.</p>
</div>
